.css-minerComponentOuterShell{
    width: 100%;
    display: flex;
    justify-content: center;
}

.css-minerDiv{
    margin: 10px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    width: 75%;
}

.css-minerStatus{
    width: 100%;
    text-align: center;
}


@media only screen and ( min-width: 760px ) {
    .css-minerDiv{
        width: 25%;
    }
}